.FrontPage {
  .hero-body {
    background-image: url('https://cdn.britannica.com/35/222035-050-C68AD682/makeup-cosmetics.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }
  .TitleText {
    font-size: 95px;
  }
  .SubtitleText {
    font-size: 40px;
    color: hotpink;
  }
}
.LoadingPage {
  .hero-body {
    background-image: url('https://www.stylist.co.uk/images/app/uploads/2019/02/13151207/makeup-bag-beauty-products.jpg?w=1200&h=1&fit=max&auto=format%2Ccompress');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }
}
.Card-Header {
  height: 60px;
}

.Description {
  max-height: 200px;
  overflow: scroll;
}
